<div class="col-lg-6 mx-auto min-vh-100 d-flex align-items-center">
  <div class="w-75 mx-auto text-light">
    <h3 class="mb-4 text-center">投稿編集</h3>
    <%= form_with model: @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :genre, class:"form-label" %>
        <%= f.select :genre, ["Baseball", "Basketball", "Americanfootball", "Soccer", "Others"], class:"form-control" %>
      </div>
      <div>
        <%= f.label :start_time, class:"form-label" %>
        <%= f.datetime_field :start_time, class:"form-control" %>
      </div>
      <div>
        <%= f.label :location, class:"form-label" %>
        <%= f.text_field :location, class:"form-control" %>
      </div>
      <div>
        <%= f.label :body, class:"form-label" %>
        <%= f.text_area :body, class:"form-control" %>
      </div>
      <div>
        <%= f.submit "変更", class:"btn btn-primary mt-2" %>
      </div>
    <% end %>
  </div>
</div>